<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed Jun 01 10:54:56 CST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.app.test.mapper.AddrParserMapper">

    <resultMap id="ResolvedAddressMap" type="com.lezhi.app.model.ResolvedAddress">
        <id column="id" property="id" />
        <result column="ori_address" property="oriAddress" />
        <result column="residence_id" property="residenceId" />
        <result column="parsed_score" property="parsedScore" />
    </resultMap>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from ${addressTable}
        <if test="whereClause != null">
            where ${whereClause}
        </if>
    </select>

    <select id="selectAddress" resultMap="ResolvedAddressMap">
        select ${primaryKey} as `id`, ${addressColumn} as `ori_address`,${residenceIdColumn} as residence_id ,${scoreColumn} as parsed_score
        from ${addressTable}
        <if test="whereClause != null">
            where ${whereClause}
        </if>
    </select>

    <update id="updateAddress">
        <foreach collection="resolvedAddressList" item="r" separator=";">
            update `${addressTable}` t
            set
            ${residenceColumn} = #{r.residence}
            ,${residenceIdColumn} = #{r.residenceId}
            ,${buildingColumn} = #{r.building}
            ,${roomColumn} = #{r.room}
            ,${scoreColumn} = #{r.parsedScore}
            ,${lastParsedTime} = #{r.lastParsedTime}
            where t.${primaryKey} = #{r.id}
        </foreach>
    </update>


    <insert id="exportToPopular">
        INSERT INTO popular_residence_address(ref_id,
        is_deal,
        address,
        ori_room_no,
        area,
        residence_id,
        residence,
        building,
        room,
        is_available,
        parsed_score,
        src,
        last_parsed_time)
        SELECT a.ref_id,
        a.is_deal,
        a.address,
        a.ori_room_no,
        a.area,
        a.residence_id,
        a.residence,
        a.building,
        a.room,
        a.is_available,
        a.parsed_score,
        a.src,
        a.last_parsed_time
        FROM address_unique a
        INNER JOIN popular_residence p ON a.residence_id = p.residence_id
    </insert>

    <select id="findPlaceFloorModels" resultType="com.lezhi.app.test.model.FixPlaceFloorModel">
      select ${primaryKey} as id, ${roomNoColumn} as roomNo, ${placeFloorColumn} as placeFloor from ${tableName}
    </select>

    <update id="batchUpdatePlaceFloor" parameterType="com.lezhi.app.test.model.FixPlaceFloorModel">
        <foreach collection="params" item="r" index="index" separator=";">
            update ${tableName} set ${placeFloorColumn} = #{r.placeFloor} where ${primaryKey} = #{r.id}
        </foreach>
    </update>
</mapper>