<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lezhi.app.com.lezhi.app.test.mapper.LianjiaHangProcessMapper">

    <insert id="batchInsert" parameterType="com.lezhi.app.model.AssHang">
        insert into ofin.lianjia_hang_process(
        quotation_id,
        residence_id,
        property_type_id,
        floor_structure_id,
        quotation_total_price,
        quotation_unit_price,
        quotation_date,
        property_area,
        basement_area,
        total_floor,
        place_floor,
        property_room
        ) VALUES
        <foreach collection="buildings" item="b" index="index" separator=",">
            (
            #{b.quotationId},
            #{b.residenceId},
            #{b.propertyTypeId},
            #{b.floorStructureId},
            #{b.totalPrice},
            #{b.unitPrice},
            #{b.quotationDate},
            #{b.propertyArea},
            #{b.basementArea},
            #{b.totalFloor},
            #{b.placeFloor},
            #{b.propertyRoom}
            )
        </foreach>
    </insert>

</mapper>
