<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed Jun 01 10:54:56 CST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.app.mapper.BuildingDicMapper">

    <resultMap id="BMap" type="com.lezhi.app.model.BuildingDic">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="residence_id" property="residenceId"/>
        <result column="total_floor" property="totalFloor"/>
        <result column="del_status" property="delStatus"/>
        <result column="total_room_num" property="totalRoomNum"/>
        <result column="lat" property="lat"/>
        <result column="lon" property="lon"/>
    </resultMap>
    <insert id="insert" parameterType="com.lezhi.app.model.BuildingDic">
        insert into of_building(`building_no`, `residence_id`, `total_floor`, `del_status`) VALUES (
        #{name}, #{residenceId},1,#{delStatus}
        )
    </insert>

    <select id="getBuildingByName" parameterType="com.lezhi.app.model.BuildingDic" resultMap="BMap">
        select * from of_building where building_no = #{name} and residence_id = #{residenceId}
    </select>

    <select id="find" resultMap="BMap">
        select t.id, t.building_no as name, t.residence_id from of_building t
        <where>
            <if test="name != null">
                and t.building_no = #{name}
            </if>
            <if test="residenceId != null">
                and t.residence_id = #{residenceId}
            </if>
        </where>
    </select>

    <select id="findAll" resultMap="BMap">
        select t.id, t.building_no as name, t.residence_id from of_building t
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from of_building
    </select>
    
    <update id="updateBuildingStatus" parameterType="com.lezhi.app.model.BuildingDic">
        update of_building set del_status = #{delStatus} where id = #{id}
    </update>

    <update id="updateTotalFloor">
        update of_building set total_floor = #{totalFloor} where id = #{id}
    </update>

    <insert id="batchInsert" parameterType="com.lezhi.app.model.BuildingDic">
        insert into of_building(`id`, `building_no`, `residence_id`, `total_floor`, `del_status`) VALUES
        <foreach collection="buildings" item="b" index="index" separator=",">
            (#{b.id}, #{b.name}, #{b.residenceId}, null, 0)
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="com.lezhi.app.model.BuildingDic">
        <foreach collection="buildings" item="b" index="index" separator=";">
            update of_building set total_floor = #{b.totalFloor} where id = #{b.id}
        </foreach>
    </update>

    <select id="findBuildingsByResidenceId" resultMap="BMap">
        SELECT b.id, b.building_no, b.residence_id, b.total_floor,  x.roomcount as total_room_num, b.lat as lat, b.lon as lon
          FROM of_building b
               LEFT JOIN (SELECT a.building_id, count(a.id) roomcount
                            FROM of_house a
                           WHERE a.building_id IN (SELECT id
                                                     FROM of_building
                                                    WHERE residence_id = #{residenceId})
                          GROUP BY a.building_id) x
                  ON b.id = x.building_id
         WHERE b.residence_id = #{residenceId}
    </select>
</mapper>