<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed Jun 01 10:54:56 CST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.app.mapper.StatisticsMapper">

    <select id="countBuilding" resultType="java.lang.Integer">
        SELECT count(1)
        FROM of_building r
    </select>

    <select id="buildingWithCoordinate" resultType="java.lang.Integer">
        SELECT count(1)
        FROM of_building r
        where lat is not null and lon is not null
    </select>

    <select id="countRoom" resultType="java.lang.Integer">
        SELECT count(1)
        FROM of_house r
    </select>

    <select id="countRoomDeal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM of_house r
        left join address_unique au on r.uref_id = au.id
        where au.is_deal = 1 or r.src = '复评';
    </select>

    <select id="countRoomLocked" resultType="java.lang.Integer">
        select count(1) from of_house r
        where status = 40
    </select>

    <select id="residenceCount" resultType="java.lang.Integer">
        select count(1) from of_residence
    </select>
    <select id="residenceCoverdCount" resultType="java.lang.Integer">
    select count(1) from of_residence where id in
    (
    select distinct residence_id from of_house
    )
    </select>

    <select id="houseWithArea" resultType="java.lang.Integer">
        select count(1) from of_house where area is not null;
    </select>

    <select id="houseWithoutArea" resultType="java.lang.Integer">
        select count(1) from of_house where area is null;
    </select>
    <select id="houseWithTowards" resultType="java.lang.Integer">
        select count(1) from of_house where towards is not null;
    </select>
    <select id="houseWithHuxing" resultType="java.lang.Integer">
        select count(1) from of_house where room_type is not null;
    </select>

    <select id="parseConfirmedHouseCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM of_house h INNER JOIN address_unique a ON h.uref_id = a.id
        WHERE parsed_score IS NOT NULL AND parsed_score >= 90;
    </select>

    <select id="parseUnconfirmedHouseCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM of_house h INNER JOIN address_unique a ON h.uref_id = a.id
        WHERE parsed_score IS NULL or parsed_score &lt; 90;
    </select>
</mapper>