<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed Jun 01 10:54:56 CST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.app.mapper.StatisticsMapper">

    <select id="countBuilding" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_building_dic r
    </select>

    <select id="countRoomDeal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_house_dic r
        left join address_unique au on r.uref_id = au.id
        where au.is_deal = 1;
    </select>

    <select id="countRoomOthers" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_house_dic r
        left join address_unique au on r.uref_id = au.id
        where au.is_deal = 0;
    </select>

    <select id="countRoomLocked" resultType="java.lang.Integer">
        select count(1) from t_house_dic r
        where status = 40
    </select>
</mapper>