<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed Jun 01 10:54:56 CST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.app.mapper.AddrSourceMapper">

    <resultMap id="AddrMap" type="com.lezhi.app.model.Address">
        <id column="id" property="id" />
        <result column="ref_id" property="refId" />
        <result column="address" property="address" />
        <result column="room_no" property="roomNo" />
        <result column="residence_id" property="residenceId" />
        <result column="area" property="area" />
        <result column="src" property="src" />
    </resultMap>

    <select id="findAddress" resultMap="AddrMap">
        SELECT t.address as address, t.id as id,t.ref_id, t.room_no, t.area, t.src
        FROM ${tableName} t
        where t.is_available != 0
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from ${tableName} where is_available != 0
    </select>

    <select id="findAddressIncludeDel" resultMap="AddrMap">
        SELECT t.address as address, t.id as id,t.ref_id, t.room_no, t.area, t.src
        FROM ${tableName} t
    </select>

    <select id="countIncludeDel" resultType="java.lang.Integer">
        select count(1) from ${tableName}
    </select>


</mapper>