<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed Jun 01 10:54:56 CST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.app.mapper.RoomDicMapper">

    <resultMap id="RMap" type="com.lezhi.app.model.RoomDic">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="building_id" property="buildingId"/>
        <result column="area" property="area"/>
    </resultMap>

    <insert id="insert" parameterType="com.lezhi.app.model.RoomDic">
        insert into t_room_dic(`name`, `building_id`) VALUES (
        #{name}, #{buildingId}
        )
    </insert>

    <insert id="insertNewRoom" parameterType="com.lezhi.app.model.RoomDic">
        insert into t_room_dic(`name`,`area`,`status`, `building_id`) VALUES (
        #{name},#{area},#{status}, #{buildingId}
        )
    </insert>

    <select id="getNewRoomId" parameterType="com.lezhi.app.model.RoomDic" resultType="java.lang.Integer">
      select id from t_room_dic where name = #{name} and building_id = #{buildingId}
    </select>

    <insert id="deleteRoom" parameterType="com.lezhi.app.model.RoomDic">
        delete from t_room_dic where id = #{id}
    </insert>

	<insert id="update" parameterType="com.lezhi.app.model.RoomDic">
		update t_room_dic set area = #{area} where id = #{id}
    </insert>

    <select id="find" resultMap="RMap">
        select t.id, t.name, t.building_id from t_room_dic t
        <where>
            <if test="name != null">
                and t.name = #{name}
            </if>
            <if test="buildingId != null">
                and t.building_id = #{buildingId}
            </if>
        </where>
    </select>

    <select id="findRoomExists" resultType="com.lezhi.app.model.map.StdAddr">
        SELECT a.name as room, b.name as building, c.ResidenceName as residence, a.area as area, c.ResidenceId as residenceId,b.id as buildingId,
        a.id as roomId,a.status as status
        FROM t_room_dic a
       LEFT JOIN t_building_dic b ON a.building_id = b.id
       LEFT JOIN sh_residence_info c ON c.ResidenceID = b.residence_id
        WHERE c.ResidenceId  IN (
        <foreach collection="rids" item="rid" separator=",">
            #{rid}
        </foreach>
        )
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from t_room_dic
    </select>

    <update id="updateStatus">
        update t_room_dic set status = #{status} where id = #{id}
    </update>


</mapper>